name: Build Executables

on:
  push:
    tags:
      - 'v*'         # tag 
  workflow_dispatch:

jobs:
  create_release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

  build-windows:
    runs-on: windows-latest
    needs: create_release
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: pip install pyinstaller
      - run: pip install psutil
      - run: pyinstaller --onefile --name PyLog src/main.py

      - name: Upload Windows
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: dist/PyLog.exe
          asset_name: PyLog-Windows.exe
          asset_content_type: application/octet-stream

  build-linux:
    runs-on: ubuntu-latest
    needs: create_release
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: pip install pyinstaller
      - run: pip install psutil
      - run: pyinstaller --onefile --name PyLog src/main.py

      - name: Upload Linux
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: dist/PyLog
          asset_name: PyLog-Linux
          asset_content_type: application/octet-stream

  build-macos:
    runs-on: macos-latest
    needs: create_release
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: pip install pyinstaller
      - run: pip install psutil
      - run: pyinstaller --onefile --name PyLog src/main.py

      - name: Upload macOS
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: dist/PyLog
          asset_name: PyLog-macOS
          asset_content_type: application/octet-stream
